@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    box-sizing: border-box;
}

.container {
    background: hsl(0, 0%, 95%);
    display: flex;
    padding: 20px 20px 10px 20px;
    min-height: 100vh;
    max-width: 1024px;
    margin: auto;
    /* box-sizing: border-box; */
    
}
.car{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 125px;
}
img{
    margin-bottom: 20px;
}

h3{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.SEDANS{
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
    padding: 30px;
}
.SEDANS .btn{
    color: hsl(31, 77%, 52%);;
}
.SUVS{
    background: hsl(184, 100%, 22%);
    padding: 30px;
}
.SUVS .btn{
    color: hsl(184, 100%, 22%);
}
.LUXURY{
    background: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
    padding: 30px;
}
.LUXURY .btn{
    color: hsl(179, 100%, 13%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    margin-bottom: 60px;
}
.btn{
    background: white;
    border:2px solid white;
    font-family:'Lexend Deca', sans-serif;
    padding: 5px 10px;
    border-radius: 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;  
}
.btn:hover{
    background-color: transparent;
    color: white;
}
@media (max-width:991px) {
        .container{
            padding: 40px 5px;
            min-width: auto;
        }
       .car{
           align-items: center;
           justify-content: center;
           display: block;
           padding: 40px;
           
       }
       img{
           padding-bottom: 10px;
       }
       p{
           margin-bottom: 10px;
       }

       .SEDANS {
           border-radius: 10px 10px 0 0;
       }
       .LUXURY{
           border-radius: 0 0 10px 10px;
       }

    }

